
<p>
  <h1>Channel Name:</h1>
  <%= @channel.name %>
</p>
 <h2>Products</h2>
<% @channel.products.each do |p| %>
  <p>
    <strong>Name:</strong>
    <%= p.name %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= p.description %>
  </p>
  <p>
    <strong>Active:</strong>
    <%= p.active %>
  </p>
  <p><%= link_to 'Show product', channel_product_path(@channel,p) %></p>
<% end %>
<h2>Add a product:</h2>
<%= form_for([@channel, @channel.products.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :active %><br>
    <%= f.text_field :active %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Back', channels_path %>
