<strong>Product Name:</strong>
    <%= @product.name %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>
  <p>
    <strong>Active:</strong>
    <%= @product.active %>
  </p>
  <h2>Variants List</h2>
<% @product.variants.each do |v| %>
  <p>
    <strong>Quantity:</strong>
    <%= v.quantity %>
  </p>
 
  <p>
    <strong>Price:</strong>
    <%= v.price %>
  </p>
<% end %>
<h2>Variant add form</h2>
<h2>Add a variant:</h2>
<%= form_for([@product, @product.variants.build]) do |f| %>
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_area :price %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<h2>Comment list:</h2>
<% @product.comments.each do |c| %>
  <p>
    <strong>User_name:</strong>
    <%= c.user_name %>
  </p>
 
  <p>
    <strong>Text:</strong>
    <%= c.text %>
  </p>
<% end %>
<h2>Comment add form</h2>
<h2>Add a comment:</h2>
<%= form_for([@product, @product.comments.build]) do |f| %>
  <p>
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back to channel', channel_path(@channel) %>